@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,700;1,400;1,500;1,600&family=Ubuntu:wght@400;500;700&display=swap');
*{
margin: 0;
padding: 0;
box-sizing: border-box;
text-decoration: none;
}
/* navigation */

.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}
.navbar .logo a{
    color: #fff;
    font-size: 35px;
    font-weight: 600;
}

.navbar{
    position: fixed;
    width: 100%;
    padding: 15px 0;
    background-color:crimson;
    font-family: 'Ubuntu', sans-serif;

}
.navbar .menu li a{
    color: #fff;
}
.navbar .menu li{
    list-style: none;
    display: inline-block;
    font-size: 18;
    font-weight: 500;
    margin-left: 25px;
}

.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Home style */
.home{
    display: flex;
    background: url(images/mau) no-repeat center;
    height: 100vh;

}